.eventsContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* padding: 20px; */
  /* justify-content: center; */
  /* flex-flow: row wrap;
  align-items: center;
  align-content: center; */
}

.events-list-item {
  margin: 5px auto;
  padding: 20px;
  width: 200px;
  text-align: center;
}

.event-image {
  /* object-fit: cover;
  width: 100px;
  height: 100px;
  padding: 10px; */
}

.eventForm {
  text-align: center;
}

#eventButton {
    color: white;
    background-color: #50CB86;

}
